<div class="user-html">
<my-dashboard></my-dashboard>
<p>
<a href="http://fusetheme.com" rel="nofollow">
<img src="https://camo.envatousercontent.com/93da818ceca26692e7de928d225c4ecf228839ca/687474703a2f2f77697468696e706978656c732e636f6d2f7468656d65666f726573742f667573652f3030302e6a70673f763d342e302e30">
</a>
</p>
<p>
<a href="https://themeforest.net/item/fuse-react-react-redux-material-design-admin-template/21769397">
<img src="https://camo.envatousercontent.com/150fac5e043f4e51a192821f8d532ffc93798a4e/687474703a2f2f77697468696e706978656c732e636f6d2f7468656d65666f726573742f667573652f72656163742e6a70673f763d312e302e30">
</a>
</p>
<p>
<img src="https://camo.envatousercontent.com/a8b7ab3b258a9c74782455ec04ba821eb0f8e1b9/687474703a2f2f77697468696e706978656c732e636f6d2f7468656d65666f726573742f667573652f3030312e6a70673f763d312e302e30">
</p>
<p>
<a href="http://withinpixels.com/themes/fuse-github" rel="nofollow">
<img src="https://camo.envatousercontent.com/c0454f379bd1f45802089b6996c9bcfa6cf8abb2/687474703a2f2f77697468696e706978656c732e636f6d2f7468656d65666f726573742f667573652f3030322e6a70673f763d312e302e30">
</a>
</p>
<p>
<img src="https://camo.envatousercontent.com/c16e3704ac3a93f7d717a7ebe83dc13bae947611/687474703a2f2f77697468696e706978656c732e636f6d2f7468656d65666f726573742f667573652f736c61636b3030312e6a70673f763d312e302e30">
<a href="https://join.slack.com/t/fuse-angular/shared_invite/enQtMzA1NDE4NzYwMjcyLWQxODE4ODM1MWU4MWJjMDhlMGEwYzM4Mzg3N2E4YzVlZThhZjNlOTQ1Y2Q5OTBlNDNkMzJhZDIwMjgxOWQ3YWU" rel="nofollow">
<img src="https://camo.envatousercontent.com/7264925999b3eaeb9237c915f0bd2584be7962c7/687474703a2f2f77697468696e706978656c732e636f6d2f7468656d65666f726573742f667573652f736c61636b3030322e6a70673f763d312e302e30">
</a>
<a href="https://join.slack.com/t/fuse-angularjs/shared_invite/enQtMzA3NDc3MjU2NDY2LWUwYzg1NjJkYWRjMDEyYzEzMGRjZDM5OWEwOWUyZGYyNjJkZjY1MzJjZmIzN2RlZGZhOGMwOGIxZjRlZDAxNzE" rel="nofollow">
<img src="https://camo.envatousercontent.com/530d79e44a3c514020778cbd69196ce762f372b2/687474703a2f2f77697468696e706978656c732e636f6d2f7468656d65666f726573742f667573652f736c61636b3030332e6a70673f763d312e302e30">
</a>
<a href="https://join.slack.com/t/fuse-bootstrap/shared_invite/enQtMzA4NTM0OTQ0NzI3LWJhMzYxYWEwN2U1OTcxMTA2YzUxNzI1N2YxYjRmODBkYTBiMjdiMmM4ZjUzM2MzOTkyMGEzNWJlYzk0ODU3YmE" rel="nofollow">
<img src="https://camo.envatousercontent.com/ff9184d1b1dfc7ce72b824a88566593ebee91b00/687474703a2f2f77697468696e706978656c732e636f6d2f7468656d65666f726573742f667573652f736c61636b3030342e6a70673f763d312e302e30">
</a>
</p>
<p>
<a href="http://fusetheme.com" rel="nofollow">
<img src="https://camo.envatousercontent.com/1c2b89db74a725ab0508c08f43df876ba76ddbba/687474703a2f2f77697468696e706978656c732e636f6d2f7468656d65666f726573742f667573652f3030332e6a70673f763d312e302e30">
</a>
</p>

<h2 id="item-description__angular-6-version">ANGULAR 6+ VERSION</h2>
Fuse Angular 6+ version is the successor of the great Fuse AngularJS version. It has AoT compiler support out of the box as well as a complete NgRx example app.

<h3 id="item-description__features">Features</h3>
<ul>
<li>Angular 6+</li>
<li>Angular Material</li>
<li>Google Material Design</li>
</ul>
<h4 id="item-description__built-in-applications">Built-in Applications</h4>
<ul>
<li>Calendar App</li>
<li>E-Commerce App</li>
<li>Mail App</li>
<li>Mail (NgRx) App</li>
<li>Chat App</li>
<li>File Manager App</li>
<li>Contacts App</li>
<li>Todo App</li>
<li>Scrumboard App</li>
</ul>
<h4 id="item-description__pages">Pages</h4>
<ul>
<li>Authentication Pages
<ul>
<li>Login</li>
<li>Login v2</li>
<li>Register</li>
<li>Register v2</li>
<li>Forgot Password</li>
<li>Forgot Password v2</li>
<li>Reset Password</li>
<li>Reset Password v2</li>
<li>Lock Screen</li>
<li>Mail Confirmation</li>
</ul>
</li>
<li>Coming Soon Page</li>
<li>Error Pages
<ul>
<li>404</li>
<li>500</li>
</ul>
</li>
<li>Invoices
<ul>
<li>Modern</li>
<li>Compact</li>
</ul>
</li>
<li>Maintenance Page</li>
<li>Profile Page</li>
<li>Search Page</li>
<li>Pricing Page</li>
<li>FAQ Page</li>
<li>Knowledge Base Page</li>
</ul>
<h4 id="item-description__configurable-template-layouts">Configurable Template Layouts</h4>
<ul>
<li>Left/Right Vertical Navigation</li>
<li>Horizontal Navigation</li>
<li>Folded Navigation</li>
<li>Above/Below Toolbar</li>
<li>Above/Below Footer</li>
</ul>
<h4 id="item-description__other-features">Other Features</h4>
<ul>
<li>Skeleton Project</li>
<li>Custom color management</li>
<li>Material design cards</li>
<li>20+ content layouts</li>
</ul>

<h3 id="item-description__browser-support">Browser Support</h3>
<p>Fuse Angular 6+ supports all modern browsers <strong>(Chrome, Firefox, Safari)</strong> including <strong>Edge</strong>.</p>
<p><strong>IE11</strong> is partially supported due to partial IE11 support of the Angular Material library.</p>

<h2 id="item-description__angular-js-version">ANGULAR JS VERSION</h2>
Fuse is an <a href="https://angularjs.org" rel="nofollow">AngularJS</a> admin template that uses <a href="https://material.angularjs.org" rel="nofollow">Angular Material</a> library. While it follows <a href="https://www.google.com/design/spec/material-design/introduction.html" rel="nofollow">Google’s Material Design Specs.</a>, it also has lots of unique and beautifully designed applications and generic page designs. Fuse is not only a great kick starter for your project but it also is an extremely good place to learn some of the advanced aspects of the AngularJS.

<h3 id="item-description__features">Features</h3>
<ul>
<li>AngularJS 1.6.4</li>
<li>Angular Material 1.1.5</li>
<li>Google Material Design</li>
<li>All custom codes are based on <a href="https://github.com/johnpapa/angular-styleguide" rel="nofollow">John Papa’s Angular Style Guide</a>
</li>
<li>Multi-language ready</li>
<li>21 PSD files included</li>
</ul>
<h4 id="item-description__built-in-applications">Built-in Applications</h4>
<ul>
<li>Calendar App</li>
<li>E-Commerce App</li>
<li>Mail App</li>
<li>Chat App</li>
<li>File Manager App</li>
<li>Gantt Chart App</li>
<li>Scrumboard App</li>
<li>Todo App</li>
<li>Contacts App</li>
<li>Notes App</li>
</ul>
<h4 id="item-description__pages">Pages</h4>
<ul>
<li>Authentication Pages
<ul>
<li>Login</li>
<li>Login v2</li>
<li>Register</li>
<li>Register v2</li>
<li>Lock Screen</li>
<li>Forgot Password</li>
<li>Reset Password</li>
</ul>
</li>
<li>Coming Soon Page</li>
<li>Error Pages
<ul>
<li>404</li>
<li>500</li>
</ul>
</li>
<li>Invoices
<ul>
<li>Modern</li>
<li>Compact</li>
</ul>
</li>
<li>Maintenance Page</li>
<li>Profile Page</li>
<li>Search Page</li>
<li>Timeline
<ul>
<li>Centered</li>
<li>Left Aligned</li>
<li>Right Aligned</li>
</ul>
</li>
</ul>
<h4 id="item-description__6-template-layouts">6 Template Layouts</h4>
<ul>
<li>Vertical Navigation</li>
<li>Horizontal Navigation</li>
<li>Vertical Navigation, Fullwidth Toolbar with Logo</li>
<li>Vertical Navigation with Fullwidth Toolbar</li>
<li>Content with Toolbar</li>
<li>Content Only</li>
</ul>
<h4 id="item-description__other-features">Other Features</h4>
<ul>
<li>Skeleton Project</li>
<li>Custom built color management and theme builder compatible with Angular Material Themes</li>
<li>15 content layouts</li>
<li>18 page designs</li>
<li>Custom built directives &amp; services
<ul>
<li>ui-router compatible advanced navigation</li>
<li>Form stepper (wizard)</li>
<li>Masonry layout creator</li>
<li>Widgets</li>
<li>Toolbar shortcuts</li>
<li>Search bar</li>
<li>Material color picker</li>
<li>Splash screen</li>
<li>Timeline (load more &amp; infinite scroll capabilities)</li>
</ul>
</li>
<li>Fully translatable with angular-translate</li>
</ul>

<h3 id="item-description__elements">Elements</h3>
<p>Fuse uses Google’s Angular Material project. All elements that available
in the Angular Material project can be used within Fuse.</p>
<p>Besides the Angular Material elements Fuse also have support for couple other
elements:</p>
<ul>
<li>Material Design Cards</li>
<li>C3 Charts</li>
<li>Chart.js</li>
<li>Chartist</li>
<li>nvD3</li>
<li>Google Maps</li>
<li>Price Tables</li>
<li>Tables</li>
<li>Datatable</li>
</ul>

<h3 id="item-description__browser-support">Browser Support</h3>
<p>Fuse supports all modern browsers <strong>(Chrome, Firefox, Safari)</strong> including <strong>IE11</strong> and <strong>Edge</strong>.</p>
<p><strong>IE10</strong> is partially supported due to partial IE10 support of the Angular Material library.</p>

<h3 id="item-description__notes">Notes</h3>
<ul>
<li>Fuse is an AngularJS template, it’s designed to work as a separate app. It’s not a traditional HTML template.</li> 
<li>Fuse uses <a href="https://github.com/Swiip/generator-gulp-angular" rel="nofollow">generator-gulp-angular</a> package to speed up the development process.</li>
<li>You will need Gulp and Node.js installed on your computer.</li>
<li>Gulp or Node.js is NOT required to run the template on production mode, they are only required for the development process. In production, Fuse will work without them just fine.</li>
</ul>

<h2 id="item-description__bootstrap-4-version">BOOTSTRAP 4 VERSION</h2>
<p>Along with AngularJS app, Fuse also comes with Bootstrap 4, HTML &amp; CSS version. Bootstrap 4 version can be used in any backend project as it’s pure HTML &amp; CSS template.</p>
<p>Although Bootstrap 4 version of Fuse has majority of the pages and apps included from AngularJS version, it doesn’t feature everything. There may be differences between two versions.</p>

<h3 id="item-description__suggestions">SUGGESTIONS</h3>
<p>We are open to any kind of suggestions. If you have any feature ideas that
you want to see in the future updates, please let us know. We will do our best
to improve the theme based on your suggestions.</p>

<h3 id="item-description__support">SUPPORT</h3>
<p>For your support requests, please use our <a href="http://withinpixels.ticksy.com" rel="nofollow">Support Ticket System</a>. We will get back to you within 48 hours in working days. Your request will be queued so please be patient and give us as much information as possible so we can quickly address and find a solution
to your issue.</p>
<p>Support requests made via item comments, social networks and via any other media will not
be answered so please open a support ticket in our support system.</p>

<h3 id="item-description__changelog">CHANGELOG</h3>
<p>Click here to access the <a href="http://fusetheme.com" rel="nofollow">Changelogs</a>.</p>
<p>All the images in the demo are for demonstration purposes only and are not included into the theme package.</p></div>